<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <div th:if="${errorCode == 1}">
        <span class="error">일치하는 정보가 없습니다.</span>
    </div>
    <div th:if="${errorCode == 2}">
        <span class="error">로그인 시도 횟수 초과</span>
    </div>
    <form th:action="@{/loginProc}" method="post" th:object="${loginDTO}">
        <input type="text" th:field="*{username}" placeholder="아이디" required>
        <input type="password" th:field="*{password}" placeholder="비밀번호" required>
        <button type="submit">로그인</button>
    </form>
    <p><a th:href="@{/join}">회원가입</a> | <a href="#">비밀번호 찾기</a></p>
</div>
</body>
</html>